.products_list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}
.products_list .product_box {
    width: calc(25% - 23px);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    padding: 30px 20px;
    border-radius: 10px;
}
