#header_main {
    background-color: var(--light-color);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_logo_col {
    width: 25%;
}
.header_logo {
    width: 170px;
}
.header_menu_col {
    width: 50%;
}
.header_nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.header_nav_list .nav_item {
    position: relative;
    padding-block: 15px;
}
.nav_link {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: capitalize;
}
.nav_link:hover {
    color: var(--secondary-color);
}
.active_nav_link {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
}
.header_buttons_col {
    width: 25%;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}
.cart_icon {
    font-size: 20px;
    position: relative;
}
.cart_icon .cart_count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--secondary-color);
    font-size: 12px;
    line-height: 1;
    color: #fff;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.cart_icon a {
    color: var(--text-color);
}
.cart_icon a:hover {
    color: var(--secondary-color);
}
.header_btns {
    text-align: right;
}
.login_btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 30px;
    border-radius: 5px;
}
.login_btn:hover {
    background-color: var(--text-color);
}
.header_nav_list .sub_menu {
    list-style: none;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    min-width: 200px;
    background-color: var(--secondary-color);
    display: none;
    transition: all 0.2s linear;
}
.header_nav_list .sub_menu.active {
    display: block;
}
.header_nav_list .sub_menu .nav_link {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
}
.header_nav_list .sub_menu .nav_link:hover {
    background-color: var(--light-color);
    color: var(--text-color);
}
.header_nav_list .sub_menu .active_nav_link {
    display: block;
    padding: 10px 20px;
    background-color: var(--light-color);
    color: var(--text-color);
    font-size: 16px;
}